[submodule "emacs/arduino-mode"]
	path = emacs/arduino-mode
	url = https://github.com/bookest/arduino-mode.git
[submodule "emacs/ESS"]
	path = emacs/ESS
	url = https://github.com/emacs-ess/ESS
[submodule "emacs/iedit"]
	path = emacs/iedit
	url = https://github.com/victorhge/iedit
[submodule "emacs/markdown-mode"]
	path = emacs/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "emacs/minimal"]
	path = emacs/minimal
	url = https://github.com/dandavison/minimal.git
[submodule "emacs/polymode"]
	path = emacs/polymode
	url = https://github.com/vspinu/polymode.git
[submodule "emacs/org-mode"]
	path = emacs/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "emacs/zenburn-emacs"]
	path = emacs/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
[submodule "emacs/lightning-keymap-mode"]
	path = emacs/lightning-keymap-mode
	url = https://github.com/theGreatWhiteShark/lightning-keymap-mode.git
[submodule "emacs/yasnippet"]
	path = emacs/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "emacs/scel"]
	path = emacs/scel
	url = https://github.com/supercollider/scel.git
[submodule "emacs/poly-R"]
	path = emacs/poly-R
	url = https://github.com/polymode/poly-R
[submodule "emacs/poly-noweb"]
	path = emacs/poly-noweb
	url = https://github.com/polymode/poly-noweb
[submodule "emacs/poly-markdown"]
	path = emacs/poly-markdown
	url = https://github.com/polymode/poly-markdown
[submodule "emacs/qt-pro-mode"]
	path = emacs/qt-pro-mode
	url = https://github.com/EricCrosson/qt-pro-mode
[submodule "emacs/helm"]
	path = emacs/helm
	url = https://github.com/emacs-helm/helm
[submodule "emacs/company-mode"]
	path = emacs/company-mode
	url = https://github.com/company-mode/company-mode
