*~
$~
emacs/*/cache

# Ignoring some of the Emacs cache
emacs/.emacs.d/recentf
# updated whenever a file is accessed remotely via ssh
emacs/.emacs.d/tramp 

# Don't keep track of the bookmark, since different computers
# use different configuration files
emacs/.emacs.d/bookmarks

# Ignoring the Emacs submodules (but I need to update)
emacs/org-mode
emacs/org-ref
emacs/polymode
emacs/python-mode
emacs/yasnippet
emacs/zenburn
emacs/android-mode
emacs/arduino-mode
emacs/iedit
emacs/markdown-mode
emacs/minimal
/emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/.python-environments/

# Ignoring the aspell dictionary (since I constantly causes
# merge conflicts)
emacs/.emacs.d/.aspell.de.pws
emacs/.emacs.d/.aspell.en.pws

# Ignoring changes in the installed package versions
emacs/.emacs.d/elpa/*
emacs/.emacs.d/network-security.data

# Ignoring all Python caches
python/**/__pycache__/

# Ignoring all downloaded audio samples
python/audio_crawling/samples
python/audio_crawling/*.json

# Ignore large Java files
java/bfg-1.12.15.jar

# Abbreviations used in Emacs
emacs/.emacs.d/abbrev_defs

# Cache of the Emacs `eshell`
emacs/.emacs.d/eshell/

# Cache of Emacs `projectile` minor-mode
emacs/.emacs.d/projectile-bookmarks.eld

# Semantic database of Emacs for parsing source code files
emacs/.emacs.d/semanticdb/

# Ignore the decrypted personal mutt files
mutt/account.0
mutt/account.1
mutt/account.2
mutt/aliases
mutt/mailing.lists.and.groups
linux/postfix/sasl_passwd
linux/postfix/sender_relay